@mixin bckgd {
        background-size: cover;
        background-position: center 65%;
        width: 100%;
        height: 200px;
        border-radius: $radius $radius 0 0;  
}
@mixin bckgdresto{
        background-size: cover;
        background-position: center 65%;
        width:100%;
        height: 380px;
}
@mixin shadow {
        box-shadow: 10px 10px 10px darken(map-get($color,bckgd), $amount: 10);
}
@mixin shadow-hover{
        box-shadow: 10px 10px 10px darken(map-get($color,bckgd), $amount: 30);
}
@mixin button {
        width: 60%;
        height: fit-content;
        background-color:map-get($color,1er);
        box-shadow:map-get($color,2m) 30px 30px 50px inset,10px 10px 10px darken(map-get($color,bckgd), $amount: 10);
        border-radius: 40px;
        text-align: center;
        @include desktop{
                width: 30%;
        }
        &:hover{
                background-color:lighten(map-get($color,1er), $amount: 10);
                box-shadow: lighten(map-get($color,2m), $amount: 10)30px 30px 50px inset,10px 10px 10px darken(map-get($color,bckgd), $amount: 30);
                cursor: url(https://img.icons8.com/material-sharp/24/000000/search.png), pointer;
                transform: scale(1);
        }
}
@mixin heart{
        .unliked{
                opacity: 1;
                transition: opacity .5s;
                display: inline-block;
                position: absolute;
        }
        .liked{
                background:transparent;
                color: transparent;
                font-size: 40px;
        }
        .unliked:hover{
                opacity:0;
                color: map-get($color,1er);
                +.liked{
                        background: linear-gradient(to top left,map-get($color,1er),map-get($color,2m));                 
                        background-clip: text;
                        -webkit-background-clip: text;
                        background-position: bottom;
                        background-repeat: no-repeat;
                        animation: heartfilling .5s linear;

            }
        }
 }
@mixin desktop{
        @media screen and (min-width:map-get($breaks,desktop))
        {@content;}
}
@mixin carte{
        border-radius:$radius;
        background-color:white;
        margin-bottom: 30px;
        @include shadow;
        @include desktop{
                width:45%;
            }
}
