@charset "UTF-8";
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}

@keyframes pop {
  0% {
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}

* {
  font-family: roboto;
}

h1 {
  font-family: Shrikhand;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-weight: 100;
  font-size: 2.2em;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3.5em;
  }
}

h2 {
  font-size: 1.6em;
  font-weight: 600;
}

h2.header__titre {
  font-size: 1.7em;
}

.unliked {
  font-weight: 100;
  font-size: 40px;
}

.plats {
  font-size: 1.20em;
  font-weight: 500;
}

h3 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.fa-arrow-left {
  font-size: 30px;
  padding-left: 15px;
}

span {
  font-size: 1.25em;
}

a {
  text-decoration: none;
  color: black;
}

.a__foot {
  color: white;
}

@media screen and (min-width: 1024px) {
  .a__foot {
    font-size: 1.1em;
  }
}

button {
  font-size: 1em;
  font-weight: 600;
}

li {
  list-style: none;
}

li.li {
  font-weight: 500;
  font-size: .8em;
}

p {
  font-size: 1em;
  font-weight: 300;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

p.quartier {
  font-size: 1.1em;
  font-weight: 300;
}

form > input, form > .marker {
  font-size: 1.2em;
  font-weight: 600;
  color: #353535;
}

.carte .new {
  font-size: 1em;
  font-weight: 500;
}

.carte .desc .name {
  font-size: 1.25em;
  font-weight: 600;
}

button {
  color: white;
  background: none;
  border: none;
  padding: 15px 0;
}

.marker {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 25px;
}

.carte__bckgd--palette {
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
  background-image: url(Palette.jpg);
}

.carte__bckgd--note {
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
  background-image: url(Note.jpg);
  background-position: center;
}

.carte__bckgd--française {
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
  background-image: url(Française.jpg);
}

.carte__bckgd--délice {
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
  background-image: url(délice.jpg);
}

.bckgdresto__palette {
  background-size: cover;
  width: 100%;
  height: 345px;
  z-index: -1;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  background-image: url(palette.jpg);
}

.bckgdresto__note {
  background-size: cover;
  width: 100%;
  height: 345px;
  z-index: -1;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  background-image: url(note.jpg);
}

.bckgdresto__délice {
  background-size: cover;
  width: 100%;
  height: 345px;
  z-index: -1;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  background-image: url(délice.jpg);
}

.bckgdresto__française {
  background-size: cover;
  width: 100%;
  height: 345px;
  z-index: -1;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  background-image: url(française.jpg);
}

img {
  width: 45%;
  display: block;
  margin: auto;
  height: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
}

header.restaurant {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: white;
}

header > p {
  text-align: center;
  margin: 20px 5% 30px;
}

header > h2 {
  margin: 35px 12% 3px;
  text-align: center;
  padding-left: 0;
}

.logoBox {
  height: 70px;
  width: 100%;
}

.logoBox.Titre {
  background-color: white;
}

.logoBox.Resto {
  margin: 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  background-color: #EAEAEA;
  -webkit-box-shadow: 0px 5px 10px #cecece inset;
          box-shadow: 0px 5px 10px #cecece inset;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form > input {
  height: 50%;
  background-color: #EAEAEA;
  border: none;
  margin-left: 10px;
  position: relative;
  top: 25%;
}

form > .marker {
  margin: 0 10px;
}

.a__button {
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #9356DC;
  -webkit-box-shadow: #FF79DA 30px 30px 50px inset, 10px 10px 10px #dddddd;
          box-shadow: #FF79DA 30px 30px 50px inset, 10px 10px 10px #dddddd;
  border-radius: 40px;
  text-align: center;
  margin-bottom: 60px;
  margin: 0 15% 50px;
}

.a__button:hover {
  background-color: #ae80e5;
  -webkit-box-shadow: #fface8 30px 30px 50px inset, 10px 10px 10px #aaaaaa;
          box-shadow: #fface8 30px 30px 50px inset, 10px 10px 10px #aaaaaa;
  cursor: url(https://img.icons8.com/material-sharp/24/000000/search.png), pointer;
}

button:hover {
  cursor: url(https://img.icons8.com/material-sharp/24/000000/search.png), pointer;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside h2 {
  padding: 20px 30px 0px;
  margin-bottom: 0;
}

aside ul {
  margin: 10px 0px 35px;
}

@media screen and (min-width: 1024px) {
  aside ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

aside .li {
  background: #f6f6f6;
  margin: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  width: 90%;
  padding: 25px 0;
  -webkit-box-shadow: 10px 10px 10px #dddddd;
          box-shadow: 10px 10px 10px #dddddd;
}

aside .li__logo {
  margin-right: 25px;
  width: 15px;
  font-size: 20px;
  text-align: center;
  color: #7e7e7e;
}

aside .li__number {
  background-color: #9356DC;
  color: white;
  text-align: center;
  border-radius: 50%;
  padding: 2px 7px;
  margin: 0 25px 0 -10px;
}

aside .li:hover {
  background-color: #ece1f9;
  -webkit-box-shadow: 10px 10px 10px #aaaaaa;
          box-shadow: 10px 10px 10px #aaaaaa;
  cursor: pointer;
}

aside .li:hover .li__logo {
  color: #9356DC;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: color 2s,-webkit-transform 1s;
  transition: color 2s,-webkit-transform 1s;
  transition: transform 1s,color 2s;
  transition: transform 1s,color 2s,-webkit-transform 1s;
}

.main {
  background-color: #f6f6f6;
  padding: 45px 0 20px;
}

.main__h2 {
  padding-left: 30px;
}

.main__cartes {
  padding: 0 30px;
}

@media screen and (min-width: 1024px) {
  .main__cartes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    background-color: white;
    padding-top: 10px;
  }
}

.main .carte {
  border-radius: 20px;
  background-color: white;
  margin-bottom: 30px;
  -webkit-box-shadow: 10px 10px 10px #dddddd;
          box-shadow: 10px 10px 10px #dddddd;
}

@media screen and (min-width: 1024px) {
  .main .carte {
    width: 45%;
  }
}

.main .carte a:hover {
  cursor: url(https://img.icons8.com/fluency/32/000000/restaurant.png), pointer;
}

.main .carte .new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #99E2D0;
  padding: 5px 15px;
  border-radius: 2px;
  color: #008766;
  position: absolute;
  right: 2%;
  margin: 2% 30px;
}

@media screen and (min-width: 1024px) {
  .main .carte .new {
    position: relative;
    right: -77%;
    top: 10%;
  }
}

.main .carte .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
}

.main .carte .desc .liked {
  display: none;
  -webkit-transition-property: display;
  transition-property: display;
}

.main .carte .desc .unliked:hover {
  display: none;
}

.main .carte .desc .unliked:hover + .liked {
  background: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  display: block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 40px;
}

.main .carte .desc:hover {
  cursor: pointer;
}

.main .carte .desc .name {
  margin: 10px 0 5px;
}

.main .carte .desc .quartier {
  margin-bottom: 10px;
}

section {
  width: 100%;
}

section .menu {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
}

section .menu button {
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #9356DC;
  -webkit-box-shadow: #FF79DA 30px 30px 50px inset, 10px 10px 10px #dddddd;
          box-shadow: #FF79DA 30px 30px 50px inset, 10px 10px 10px #dddddd;
  border-radius: 40px;
  text-align: center;
  margin-bottom: 60px;
  width: 50%;
  margin: 60px 25% 80px;
}

section .menu button:hover {
  background-color: #ae80e5;
  -webkit-box-shadow: #fface8 30px 30px 50px inset, 10px 10px 10px #aaaaaa;
          box-shadow: #fface8 30px 30px 50px inset, 10px 10px 10px #aaaaaa;
  cursor: url(https://img.icons8.com/material-sharp/24/000000/search.png), pointer;
}

section .menu h1 {
  padding: 35px 0;
  margin-left: 40px;
}

section .menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 30px;
}

section .menu__title .liked {
  display: none;
  -webkit-transition-property: display;
  transition-property: display;
}

section .menu__title .unliked:hover {
  display: none;
}

section .menu__title .unliked:hover + .liked {
  background: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  display: block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 40px;
}

section .menu > span {
  margin-left: 40px;
}

section .menu > span .border {
  background-color: #99E2D0;
  height: 3px;
  width: 2.5em;
  position: relative;
  left: 40px;
}

section .menu > ul {
  width: 90%;
}

section .menu li {
  background-color: white;
  margin: 10px 10px 15px 0;
  border-radius: 20px;
}

section .menu li p {
  padding: 0 10px 10px;
}

section .menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75px;
}

section .menu li a > div {
  width: 80%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-overflow: ellipsis;
  overflow: clip;
  white-space: nowrap;
}

section .menu li a .far {
  position: absolute;
  left: 76%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scalex(0);
          transform: scalex(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  height: 75px;
  color: white;
  width: 20%;
  font-weight: 600;
  background-color: #99E2D0;
  font-size: 1.5em;
  border-radius: 0 20px 20px 0;
  -webkit-transition: -webkit-transform .8s;
  transition: -webkit-transform .8s;
  transition: transform .8s;
  transition: transform .8s, -webkit-transform .8s;
}

section .menu li a .far > .fa-check-circle {
  visibility: hidden;
  -webkit-transform: rotate(0) scale(0);
          transform: rotate(0) scale(0);
  -webkit-transition: visibility,-webkit-transform .8s;
  transition: visibility,-webkit-transform .8s;
  transition: transform .8s,visibility;
  transition: transform .8s,visibility,-webkit-transform .8s;
}

section .menu li a:hover .far {
  position: inherit;
  -webkit-transform: scalex(1);
          transform: scalex(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

section .menu li a:hover .far .fa-check-circle {
  visibility: visible;
  -webkit-transform: rotate(360deg) scale(1);
          transform: rotate(360deg) scale(1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

section .menu li .prix {
  font-weight: 600;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0 30px 10px;
}

section .menu li .plats {
  padding: 15px 10px 6px;
  height: 23px;
  text-overflow: ellipsis;
  overflow: clip;
  white-space: nowrap;
}

section .menu li .plats + p {
  text-overflow: ellipsis;
  overflow: clip;
  white-space: nowrap;
}

footer {
  background-color: #353535;
  color: white;
  padding: 6%;
}

@media screen and (min-width: 1024px) {
  footer {
    padding-top: 0;
    padding-bottom: 2%;
  }
}

@media screen and (min-width: 1024px) {
  footer h1 {
    text-align: center;
  }
}

footer ul {
  width: 85%;
  margin-left: 0;
  padding-left: 0;
}

@media screen and (min-width: 1024px) {
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer ul li {
  padding: 10px 0;
}

footer ul .fas {
  width: 20px;
}

@media screen and (min-width: 1024px) {
  footer ul .fas {
    width: 30px;
  }
}

body {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  header, section, footer {
    animation: fadein 15s;
    -moz-animation: fadein 15s;
    -webkit-animation: fadein 15s;
    -o-animation: fadein 15s;
  }
}

.table {
  display: none;
}

@media screen and (min-width: 1024px) {
  .table {
    display: block;
    z-index: 1;
    -webkit-animation: fadeout 10s ease-in-out both;
    animation: fadeout 10s ease-in-out both;
    width: 500px;
    height: 500px;
    background: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
    background: linear-gradient(to top left, #9356DC, #FF79DA);
    position: absolute;
    left: 35%;
    top: 15%;
    border-radius: 50%;
  }
  .table div {
    font-family: Shrikhand;
    position: absolute;
    font-size: 150px;
    font-weight: bold;
    color: #99E2D0;
    -webkit-animation: pop 1s linear;
            animation: pop 1s linear;
  }
  .table .O1 {
    top: 10px;
    left: 155px;
  }
  .table .H {
    top: 10px;
    left: 250px;
  }
  .table .M {
    top: 130px;
    left: 115px;
  }
  .table .Y {
    top: 130px;
    left: 270px;
  }
  .table .F {
    top: 280px;
    left: 90px;
  }
  .table .O2 {
    top: 280px;
    left: 145px;
  }
  .table .O3 {
    top: 280px;
    left: 230px;
  }
  .table .D {
    top: 280px;
    left: 330px;
  }
}
/*# sourceMappingURL=style.css.map */