@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Utils/keyframes";
@import "./Base/font";
@import "./Composants/bouton";
@import "./Composants/logo";
@import "./Composants/loader";
@import "./Layout/images&bckgd";
@import "./Layout/header";
@import "./Layout/aside";
@import "./Layout/main";
@import "./Layout/footer";


body{
    margin:0;
    font-size: 14px;
    @include desktop{
        font-size: unset;
    }
}
