@charset "UTF-8";
* {
  font-family: roboto;
}

h1 {
  font-family: Shrikhand;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-weight: 100;
  font-size: 35px;
}

h2 {
  font-size: 25px;
  font-weight: 600;
}

h2.header__titre {
  font-size: 27px;
}

h3 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.fa-arrow-left {
  font-size: 30px;
  padding-left: 15px;
}

span {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.a__foot {
  color: white;
}

button {
  font-size: 16px;
  font-weight: 600;
}

li {
  list-style: none;
  font-size: 16px;
}

li.li {
  font-weight: 500;
}

p {
  font-size: 18px;
  font-weight: 300;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

form > input, form > .marker {
  font-size: 18px;
  font-weight: 600;
}

.carte .new {
  font-size: 16px;
  font-weight: 500;
}

.carte .desc {
  font-size: 40px;
}

.carte .desc .name {
  font-size: 20px;
  font-weight: 600;
}

.carte .desc .quartier {
  font-weight: 300;
}

button {
  color: white;
  background: none;
  border: none;
  padding: 15px 0;
}

.marker {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 25px;
}

.carte__bckgd--palette {
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
  background-image: url(Palette.jpg);
}

.carte__bckgd--note {
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
  background-image: url(Note.jpg);
  background-position: center;
}

.carte__bckgd--française {
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
  background-image: url(Française.jpg);
}

.carte__bckgd--délice {
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
  background-image: url(délice.jpg);
}

.bckgdresto__palette {
  background-size: cover;
  width: 100%;
  height: 300px;
  background-image: url(palette.jpg);
}

.bckgdresto__note {
  background-size: cover;
  width: 100%;
  height: 300px;
  background-image: url(note.jpg);
}

.bckgdresto__délice {
  background-size: cover;
  width: 100%;
  height: 300px;
  background-image: url(délice.jpg);
}

.bckgdresto__française {
  background-size: cover;
  width: 100%;
  height: 300px;
  background-image: url(française.jpg);
}

img {
  width: 45%;
  display: block;
  margin: auto;
  height: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
}

header.restaurant {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: white;
}

header > p {
  text-align: center;
  margin: 20px 5% 45px;
}

header > h2 {
  margin: 35px 11% 5px;
  text-align: center;
  padding-left: 0;
}

.logoBox {
  height: 70px;
  width: 95%;
}

.logoBox.Titre {
  background-color: white;
}

.logoBox.Resto {
  margin: 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 55px;
  background-color: #EAEAEA;
  -webkit-box-shadow: 0px 5px 10px #cecece inset;
          box-shadow: 0px 5px 10px #cecece inset;
}

form > input {
  width: 40%;
  height: 50%;
  background-color: #EAEAEA;
  border: none;
  margin-left: 10px;
  position: relative;
  top: 25%;
}

form > .marker {
  margin: 0 10px;
}

.a__button {
  margin: 0 10%;
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #9356DC;
  -webkit-box-shadow: #FF79DA 30px 30px 50px inset, 10px 10px 10px #dddddd;
          box-shadow: #FF79DA 30px 30px 50px inset, 10px 10px 10px #dddddd;
  border-radius: 40px;
  text-align: center;
  margin-bottom: 60px;
}

.a__button:hover {
  background-color: #ae80e5;
  -webkit-box-shadow: #fface8 30px 30px 50px inset, 10px 10px 10px #aaaaaa;
          box-shadow: #fface8 30px 30px 50px inset, 10px 10px 10px #aaaaaa;
  cursor: url(https://img.icons8.com/material-sharp/24/000000/search.png), pointer;
}

button:hover {
  cursor: url(https://img.icons8.com/material-sharp/24/000000/search.png), pointer;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside h2 {
  padding: 20px 30px 0px;
  margin-bottom: 0;
}

aside ul {
  margin: 10px 0px 35px;
}

aside .li {
  background: #f6f6f6;
  margin: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  width: 90%;
  padding: 25px 0;
  -webkit-box-shadow: 10px 10px 10px #dddddd;
          box-shadow: 10px 10px 10px #dddddd;
}

aside .li__logo {
  margin-right: 25px;
  width: 15px;
  font-size: 20px;
  text-align: center;
  color: #7e7e7e;
}

aside .li__number {
  background-color: #9356DC;
  color: white;
  text-align: center;
  border-radius: 50%;
  padding: 2px 7px;
  margin: 0 25px 0 -10px;
}

aside .li:hover {
  background-color: #ece1f9;
  -webkit-box-shadow: 10px 10px 10px #aaaaaa;
          box-shadow: 10px 10px 10px #aaaaaa;
  cursor: pointer;
}

aside .li:hover .li__logo {
  color: #9356DC;
}

.main {
  background-color: #f6f6f6;
  padding: 45px 0 20px;
}

.main__h2 {
  padding-left: 30px;
}

.main__cartes {
  padding: 0 30px;
}

.carte {
  border-radius: 20px;
  background-color: white;
  margin-bottom: 30px;
}

.carte a:hover {
  cursor: url(https://img.icons8.com/fluency/32/000000/restaurant.png), pointer;
}

.carte .new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #99E2D0;
  padding: 5px 15px;
  border-radius: 2px;
  color: #008766;
  position: absolute;
  right: 2%;
  margin: 2% 30px;
}

.carte .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
  font-size: 40px;
}

.carte .desc .liked {
  display: none;
}

.carte .desc .unliked:hover {
  display: none;
}

.carte .desc .unliked:hover + .liked {
  background: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  display: block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.carte .desc:hover {
  cursor: pointer;
}

.carte .desc .name {
  margin: 10px 0 5px;
}

.carte .desc .quartier {
  margin-bottom: 10px;
}

section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .menu {
  background-color: #f6f6f6;
  border-radius: 40px;
}

section .menu button {
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #9356DC;
  -webkit-box-shadow: #FF79DA 30px 30px 50px inset, 10px 10px 10px #dddddd;
          box-shadow: #FF79DA 30px 30px 50px inset, 10px 10px 10px #dddddd;
  border-radius: 40px;
  text-align: center;
  margin-bottom: 60px;
  width: 50%;
  margin: 60px 25% 80px;
}

section .menu button:hover {
  background-color: #ae80e5;
  -webkit-box-shadow: #fface8 30px 30px 50px inset, 10px 10px 10px #aaaaaa;
          box-shadow: #fface8 30px 30px 50px inset, 10px 10px 10px #aaaaaa;
  cursor: url(https://img.icons8.com/material-sharp/24/000000/search.png), pointer;
}

section .menu h1 {
  padding: 35px 0;
  font-size: 35px;
}

section .menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 40px;
}

section .menu__title .liked {
  display: none;
}

section .menu__title .unliked:hover {
  display: none;
}

section .menu__title .unliked:hover + .liked {
  background: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  display: block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

section .menu > span {
  font-size: 20px;
  margin-left: 40px;
}

section .menu > span .border {
  background-color: #99E2D0;
  height: 2px;
  width: 10%;
  position: relative;
  left: 40px;
}

section .menu > ul {
  width: 90%;
}

section .menu li {
  background-color: white;
  margin: 10px 10px 15px 0;
  padding: 15px 10px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .menu li .prix {
  font-weight: 600;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

section .menu li .plats {
  font-weight: 500;
  font-size: 21px;
  margin-bottom: 8px;
}

footer {
  background-color: #353535;
  color: white;
  padding: 6%;
  height: 20%;
}

footer ul {
  width: 85%;
  margin-left: 0;
  padding-left: 0;
}

footer ul li {
  height: 10px;
  padding: 10px 0;
}

footer ul .fas {
  width: 20px;
}

body {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */