@charset "UTF-8";
* {
  font-family: roboto;
}

h1 {
  font-family: Shrikhand;
}

h2 {
  font-size: 45px;
  font-weight: 600;
  padding-left: 30px;
}

h2.header__titre {
  font-size: 50px;
  text-align: center;
  padding-left: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 21px 0;
  font-weight: 500;
}

.marker {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 25px;
}

.carte__bckgd--palette {
  background-image: url(Palette.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
}

.carte__bckgd--note {
  background-image: url(Note.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
}

.carte__bckgd--française {
  background-image: url(Française.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
}

.carte__bckgd--délice {
  background-image: url(délice.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
}

img {
  width: 50%;
  position: relative;
  display: block;
  margin: 15px auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  height: 20%;
}

header > p {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  margin: 20px 10% 45px;
}

header > h2 {
  margin: 80px 20% 20px;
}

#logoBoxTitre {
  width: 100%;
  background-color: white;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 90px;
  background-color: #EAEAEA;
  -webkit-box-shadow: 0px 5px 10px #cecece inset;
          box-shadow: 0px 5px 10px #cecece inset;
}

form > input {
  width: 40%;
  height: 99%;
  background-color: #EAEAEA;
  border: none;
  font-size: 35px;
  font-weight: 600;
  margin-left: 20px;
  -webkit-box-shadow: 0px 5px 10px #cecece inset;
          box-shadow: 0px 5px 10px #cecece inset;
}

form > .marker {
  font-size: 35px;
  margin: 0 25px;
}

.a__button {
  margin: 0 10%;
  width: 50%;
  height: 80px;
  background-color: #9356DC;
  -webkit-box-shadow: #FF79DA 30px 30px 50px inset;
          box-shadow: #FF79DA 30px 30px 50px inset;
  border-radius: 40px;
  text-align: center;
  margin-bottom: 100px;
}

aside {
  height: 500px;
}

aside ul {
  height: 90%;
}

aside .li {
  background: #f6f6f6;
  height: 30%;
  margin: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  -webkit-box-shadow: 10px 10px 10px #e5e5e5;
          box-shadow: 10px 10px 10px #e5e5e5;
  border-radius: 40px;
  width: 90%;
}

aside .li__logo {
  margin: 0 30px;
  width: 50px;
  text-align: center;
  color: #7e7e7e;
}

aside .li__logo:hover {
  color: #9356DC;
}

aside .li__number {
  background-color: #9356DC;
  color: white;
  width: 60px;
  height: 55px;
  text-align: center;
  border-radius: 30px;
  padding-top: 5px;
  position: relative;
  left: -30px;
}

aside .li:hover {
  background-color: #f5edff;
}

footer {
  background-color: #353535;
  color: white;
}

body {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */