footer{
    background-color: map-get($color,colfoot);
    color:white;
    padding:6%;
    @include desktop{
        padding-top:0;
    }
    h1{
        @include desktop{
            text-align: center;
        }
    }
    & ul{
        width: 85%;
        margin-left: 0;
        padding-left: 0;
        @include desktop{
            display: flex;
            justify-content: space-between;
        }
        li{
            padding: 10px 0;
        }
        .fas{
            width: 20px;
            @include desktop{
                width: 30px;
            }
        }
    }
}