header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:map-get($color,bckgd);
    &.restaurant{
        flex-direction: row;
        justify-content:space-evenly ;
        background-color: white;
    }
    >p{
        text-align: center;
        margin: 20px 5% 30px;
    }
    >h2{
        margin:35px 12% 3px;
        text-align: center;
        padding-left: 0;
        }
}
.logoBox{
    height:70px;
    width:100%;
    &.Titre{
    background-color: white;
    }
    &.Resto{
        margin: 0;
    }
}
form{
    display: flex;
    height: 55px;
    background-color: #EAEAEA;
    box-shadow: 0px 5px 10px #cecece inset;
    width: 100%;
    justify-content: center;
    >input{
        height: 50%;
        background-color: #EAEAEA;
        border:none;
        margin-left: 10px;
        position:relative;
        top:25%;
        
    }
    >.marker{
        margin: 0 10px;
    }
}
.a__button{
    @include button;
    margin:0 15% 50px;
}
button:hover{
    cursor: url(https://img.icons8.com/material-sharp/24/000000/search.png), pointer;
}

