.carte__bckgd--palette{
    background-image:url(Palette.jpg);
    @include bckgd;
}
.carte__bckgd--note{
    background-image: url(Note.jpg);
    @include bckgd;
    background-position:center;
}
.carte__bckgd--française{
    background-image: url(Française.jpg);    
    @include bckgd;
}
.carte__bckgd--délice{
    background-image: url(délice.jpg);
    @include bckgd;
}
img{
    width: 50%;
    position:relative;
    display: block;
    margin: 15px auto;
}