.bckgd{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
}    
#palette{
    background-image:url(Palette.jpg);

}
#note{
    background-image: url(Note.jpg);
}
#française{
    background-image: url(Française.jpg);
}
#Délice{
    background-image: url(délice.jpg);
}
img{
    width: 50%;
    position:relative;
    display: block;
    margin: 15px auto;
}