.carte__bckgd{
    &--palette{
    @include bckgd;
    background-image:url(Palette.jpg);
    }
    &--note{
    @include bckgd;
    background-image: url(Note.jpg);
    background-position:center;
    }
    &--française{
    @include bckgd;
    background-image: url(Française.jpg);    
    }
    &--délice{
    @include bckgd;
    background-image: url(délice.jpg);
    }
}
.bckgdresto{
    &__palette{
        @include bckgdresto;
        background-image: url(palette.jpg);
    }&__note{
        @include bckgdresto;
        background-image: url(note.jpg);
    }&__délice{
        @include bckgdresto;
        background-image: url(délice.jpg);
    }&__française{
        @include bckgdresto;
        background-image: url(française.jpg);
    }
}
img{
    width: 45%;
    display: block;
    margin:auto;
    height: 100%;
}
