.carte__bckgd{
    &--palette{
    @include bckgd;
    background-image:url(Palette.jpg);
    display: flex;
    justify-content: flex-end;
    background-position:10%;
    }
    &--note{
    @include bckgd;
    background-image: url(Note.jpg);
    background-position:40%;
    display: flex;
    justify-content: flex-end
    }
    &--française{
    @include bckgd;
    background-image: url(Française.jpg);    
    }
    &--délice{
    @include bckgd;
    background-image: url(délice.jpg);
    }
}
.bckgdresto{
    &__palette{
        background-image: url(palette.jpg);
        @include bckgdresto;
    }&__note{
        background-image: url(note.jpg);
        @include bckgdresto;
    }&__délice{
        background-image: url(délice.jpg);
        @include bckgdresto;
    }&__française{
        background-image: url(française.jpg);
        @include bckgdresto;
    }
}
img{
    width: 60%;
    display: block;
    margin:auto;
    height: 100%;
}
