.carte__bckgd{
    &--palette{
    @include bckgd;
    background-image: url(images/palette.jpg);
    display: flex;
    justify-content: flex-end;
    background-position:10%;
    }
    &--note{
    @include bckgd;
    background-image: url(images/note.jpg);
    background-position:40%;
    display: flex;
    justify-content: flex-end
    }
    &--francaise{
    @include bckgd;
    background-image: url(images/francaise.jpg);
}
    &--delice{
    @include bckgd;
    background-image: url(images/delice.jpg);
}
}
.bckgdresto{
    &__palette{
        @include bckgdresto;
        background-image: url(images/palette.jpg);
    }
    &__note{
        background-image: url(images/note.jpg);
        @include bckgdresto;
    }
    &__delice{
        background-image: url(images/delice.jpg);
        @include bckgdresto;
    }
    &__francaise{
        background-image: url(images/francaise.jpg);
        @include bckgdresto;
    }
}
img{
    width: 60%;
    display: block;
    margin:auto;
    height: 100%;
}
