.main{
    background-color: map-get($color,bckgd);
    padding: 45px 0 20px;
    &__h2{
        padding-left:30px;
    }
    &__cartes{
        padding:0 30px;
        @include desktop{
            display:flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
    @include desktop{
        background-color: white;
        padding-top: 10px;
    }
    .carte{
        @include carte;
        & a:hover{
            cursor:url(https://img.icons8.com/fluency/32/000000/restaurant.png),pointer;
        }
        .new{
            display: flex;
            width: fit-content;
            height: fit-content;
            background-color:map-get($color,3m);
            padding:5px 15px;
            border-radius: 2px;
            color:#008766;
            position: absolute;
            right:2%;
            margin:2% 30px;
            @include desktop{
                position: relative;
                right: -77%;
                top: 10%;
            }
        }
        .desc{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 5%;
            @include heart;
                &:hover{
                cursor: pointer;
            }
            .name{
                margin: 10px 0 5px;
            }
            .quartier{
                margin-bottom: 10px;
            }
        }
    }
}
section{
    width: 100%;
    .menu{
    background-color: map-get($color,bckgd);
    border-radius: 40px 40px 0 0 ;
    margin-top: -40px;
        button{
            @include button;
            width: 50%;
            margin:60px 25% 80px;
        }
        h1{
        padding:35px 0;
        margin-left: 40px;
        }
        &__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include heart;
        margin-right: 30px;
    }
    >span{
        margin-left:40px;
        .border{
            background-color: map-get($color,3m);
            height: 3px;
            width: 2.5em;
            position: relative;
            left: 40px;
        }

    }
    >ul{
        width: 90%;    
    }
    li{
        background-color: white;
        margin: 10px 10px 15px 0;
        border-radius: $radius;
        p{
            padding: 0 10px 10px;
        }
        a{
        display: flex;
        justify-content: space-between;
        height: 75px;
        >div{
        width: 80%;
        flex: 1;
        text-overflow: ellipsis;
        overflow: clip;
        white-space: nowrap;
        }
        .far{
            position: absolute;
            left: 76%;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: scalex(0);
            transform-origin: right;            
            height: 75px;            
            color:white;
            width: 20%;
            font-weight: 600;
            background-color:map-get($color,3m);
            font-size:1.5em;
            border-radius: 0 $radius $radius 0;
            transition: transform .8s;
            >.fa-check-circle{
                visibility: hidden;
                transform: rotate(0) scale(0);
                transition: transform .8s,visibility;
            } 
        }
            &:hover{
                & .far{
                    position: inherit;
                    transform: scalex(1);
                    transform-origin: right;
                    .fa-check-circle{
                        visibility: visible;
                        transform: rotate(360deg) scale(1);
                        transform-origin: center;
                    }                    
                    }
        }
        }
        .prix{
            font-weight: 600;
            align-self: flex-end;
            padding: 0 30px 10px;
        }
        .plats{
            padding:15px 10px 6px;
            height: 23px;
            text-overflow: ellipsis;
            overflow: clip;
            white-space: nowrap;
                +p{
                    text-overflow: ellipsis;
                    overflow: clip;
                    white-space: nowrap;
                        }
        }
    }
}
}