*{
    font-family: roboto;
}
h1{
    font-family: Shrikhand;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 100;
    font-size: 2.2em;
}
h2{
    font-size: 1.6em;
    font-weight: 600;
    &.header__titre{
        font-size:1.7em;
    }
}
h3{
    margin-block-start:0;
    margin-block-end: 0;
}
.fa-arrow-left{
    font-size: 30px;
    padding-left: 15px;
}
span{
    font-size: 1.25em;
}
a{
    text-decoration: none;
    color: black;
}
.a__foot{
    color:white;
}
button{
    font-size: 1em;
    font-weight: 600;
}
li{
    list-style: none;
    &.li{
    font-weight: 500;
    }
}
p{
        font-size:1.15em;
        font-weight: 300;
        margin-block-start:0;
        margin-block-end:0;
        &.quartier{
            font-size:0.5em;
        }
}
form{
    >input, >.marker{
    font-size: 1.4em;
    font-weight: 600;
    }
}
.carte{
    .new{
        font-size: 1em;
        font-weight: 500;
    }
    .desc{
        .name{
            font-size: 0.65em;
            font-weight:600 ;
        }
        .quartier{
            font-weight: 300;
        }
    }
}