*{
    font-family: roboto;
}
h1{
    font-family: Shrikhand;
}
h2{
    font-size: 1rem;
    font-weight: 900;
    &#titre{
        font-size:2.5em;
        width: 50%;
        text-align: center;
    }
}
p{
    font-size: 25px;
}