*{
    font-family: roboto;
}
h1 ,.rappel{
    font-family: Shrikhand;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 100;
    font-size: 2.4em;
    @include desktop{
        font-size: 3.5em;
    }
}
h2{
    font-size: 1.6em;
    font-weight: 600;
    &.header__titre{
        font-size:1.7em;
    }
}
.unliked{
    font-size: 40px;
}
.plats{
    font-size: 1.3em;
    font-weight: 500;
}
.prix{
    font-size: 1.4em;
    font-weight: 600;
}
h3{
    margin-block-start:0;
    margin-block-end: 0;
}
.fa-arrow-left{
    font-size: 30px;
    padding-left: 15px;
}
span{
    font-size: 1.5em;
}
.a__foot{
    color:white;
    @include desktop{
        font-size: 1.1em;
    }
}
a{
    text-decoration: none;
    color: black;
    transform: scale(1);
    transition: transform .3s;
    &:hover{
        transform: scale(1.3);
    }
}
button{
    font-size: 1.2em;
    font-weight: 400;
}
li{
    list-style: none;
    &.li{
    font-weight: 500;
    font-size: .8em;
    >span{
        font-size: 1.25em;

    }
    }
}
.li__foot{
    font-size: 1.25em;

    }
p{
        font-size:1.1em;
        font-weight: 300;
        margin-block-start:0;
        margin-block-end:0;
        &.quartier{
            font-size:1.1em;
            font-weight: 300;
        }
}
form{
    >input, >.marker{
    font-size: 1.2em;
    font-weight: 600;
    color: #353535;
    }
}
.carte{
    .new{
        font-size: 1em;
        font-weight: 500;
    }
    .desc{
        .name{
            font-size: 1.25em;
            font-weight:600 ;
        }
        
    }
}